* {
  background:       #24273ACC;
  foreground:       #CAD3F5FF;
  accent:           #B7BDF869;
  background-tb:    #494D64FF;
  border-tb:        #363A4FFF;
  selected:         linear-gradient(to right, #363A4FFF, #B7BDF869);
  button:           linear-gradient(#939AB7FF);
  button-selected:  linear-gradient(#B7BDF869);
  active:           linear-gradient(to right, #305777, #633C6E);
  urgent:           linear-gradient(to right, #437aa7, #8a549a);
}
